/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid black;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}
 /* FLEX-BOX */

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: blue;
    height: 400px;
    color: white;
    
} 

a {
    color: white;
    text-decoration: none;
}


.header-1 {
    justify-content: space-around;
    padding: 20px ;
}

.menu {
    width: 50%;
    justify-content: space-around;
}

.button-menu {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}




.header-2 {
    padding-top: 100px;
    align-items: center;
    text-align: center;
    line-height: 30px;
    margin: 0 300px;
    background-color: yellow;
    flex-basis: 200px;
    
    
}
 /* BUTTON */





/* MAIN */
main {
    background-color: red;
    height: 1200px;
   
}

section > div {
    height: calc(1200px / 4);
}

.section-main {
    align-items: center;
    margin: 0 250px;
    justify-content: space-around;
}


.image {
    height: 200px;
    width: 200px;
   
}

.text-section {
    width: 300px;
}

/* FOOTER */ 
footer {
    background-color: yellow;
    height: 300px;
    
   
}
